<html>
    <head>


    </head>
    <body>
        <div>
            <h1>Reset passord</h1>
        </div>
        <div>
            <p>Enter your Username</p>
            <form method="POST" action="/creset">
                <input type="text" id="user" name="user"/>
                <input onblur="this.className=&#39;csfocus&#39;" title="Create An account" tabindex="3" type="submit" value="    Reset passowrd    " >
                
            </form>
            <button type="button" onclick="location.href='/login';">go back</button>
        </div>


    </body>


</html>