<html>
    <head>


    </head>
    <body>
        <div>
            <h1>Your transfer has been successfully sent!</h1>
        </div>
        <div>
            <h3>Here are your transfer details</h3>
            <form name="form1">
       
                <table align="center" cellspacing="0" cellpadding="4" border="0">
                    <tbody><tr>
                        <td class="cldialog" align="right">
                            PLN:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="5" id="PLN" tabindex="1" name="PLN">
                            <input readonly="readonly" class="ctdialog" type="text" size="5" id="PLN_C" tabindex="1" name="PLN_C">
            
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            Account Number:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="24" id="accountnumber" tabindex="1" name="accountnumber">
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            First Name:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="24" id="firstname" tabindex="1" name="firstname">
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            Last Name:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="24" id="lastname" tabindex="1" name="lastname">
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            City:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="24" id="city" tabindex="1" name="city">
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            Address:
                        </td>
                        <td align="left"> 
                            <input readonly="readonly" class="ctdialog" type="text" size="24" id="address" tabindex="1" name="address">
                          
                        </td>
                    </tr>
                    <tr>
                        <td class="cldialog" align="right">
                            Title of the transfer:
                        </td>
                        <td align="left">
                            <input readonly="readonly" class="ctdialog" type="text" name="titletransfer" size="24" id="titletransfer" tabindex="1">
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" onclick="location.href='/account';">return to the account page</button>
        </div>

        <script type="text/javascript" src="script.js" ></script>
        <!-- <script type="text/javascript" src="violate2.js" ></script> -->

    </body>


</html>